# Exclude environment files
.DS_Store
.vscode/
venv/
env-ips/
__pycache__/

# Folders
dataset/
ips.xlsx

# SENSITIVE DATA AND MODEL ARTIFACTS
*.mmdb
*.ipynb
*.xlsx

# CORE PRIVATE IP 
mapping_loop.py

# Gitignore
#.gitignore
